---
import { cn } from '../utils/style'

interface IconDefinition {
  viewBox: string
  paths: string[]
  type?: 'stroke' | 'fill'
  transform?: string
}

const icons = {
  menu: {
    viewBox: '0 0 24 24',
    paths: ['M4 12H20M4 6H20M4 18H20'],
    type: 'stroke',
  },
  facebook: {
    viewBox: '0 0 24 24',
    paths: [
      'M12 1C5.97656 1 1 5.97656 1 12C1 17.2305 4.83594 21.5781 9.81406 22.8047V15.4844H7.09844V12H9.81406V9.79687C9.81406 6.00391 11.5234 4.24219 15.0078 4.24219C15.7109 4.24219 16.9219 4.38281 17.4219 4.52344V7.5625C17.1562 7.53438 16.6953 7.52031 16.125 7.52031C14.2812 7.52031 13.5781 8.22188 13.5781 10.0625V12H17.2969L16.6719 15.4844L13.5781 15.4859V23.0625C19.0469 22.3984 23 17.6719 23 12C23 5.97656 18.0234 1 12 1Z',
    ],
    type: 'fill',
  },
  instagram: {
    viewBox: '0 0 24 24',
    paths: [
      'M12 3C15.013 3 15.3677 3.0133 16.5413 3.06667C17.6203 3.11667 18.2093 3.30333 18.6073 3.45667C19.128 3.66 19.5093 3.90667 19.9063 4.30333C20.3063 4.70333 20.548 5.08 20.752 5.60667C20.9053 6.00333 21.0907 6.59667 21.1403 7.67C21.1933 8.84667 21.2067 9.20133 21.2067 12.2133C21.2067 15.2267 21.1933 15.58 21.1403 16.7567C21.0903 17.83 20.9053 18.4233 20.752 18.82C20.548 19.3467 20.303 19.728 19.9063 20.1247C19.5063 20.5247 19.128 20.7667 18.6073 20.9707C18.2093 21.124 17.6173 21.3093 16.5413 21.36C15.3677 21.4133 15.013 21.4267 12 21.4267C8.98667 21.4267 8.63333 21.4133 7.46 21.36C6.38333 21.31 5.79333 21.1233 5.39333 20.9707C4.87333 20.7667 4.49 20.5213 4.09333 20.1247C3.69333 19.7247 3.45333 19.3467 3.24667 18.82C3.09333 18.4233 2.908 17.8267 2.85833 16.7567C2.80533 15.58 2.792 15.2267 2.792 12.2133C2.792 9.20133 2.80533 8.84667 2.85833 7.67333C2.90867 6.596 3.09333 6.00333 3.24667 5.60667C3.45 5.08 3.69667 4.70333 4.09333 4.30333C4.49333 3.90333 4.87333 3.66 5.39333 3.45667C5.79333 3.30333 6.386 3.11667 7.46 3.06667C8.63333 3.01333 8.98667 3 12 3ZM12 1C8.8973 1 8.5213 1.01333 7.33267 1.06667C6.14933 1.11933 5.33533 1.31667 4.62267 1.59667C3.88267 1.88667 3.251 2.27333 2.626 2.90333C1.99867 3.52667 1.61267 4.16333 1.323 4.90333C1.04267 5.618 0.846 6.43133 0.793333 7.61933C0.74 8.80667 0.726667 9.18267 0.726667 12.2867C0.726667 15.3907 0.74 15.7667 0.793333 16.9553C0.846 18.138 1.04267 18.952 1.323 19.6647C1.61333 20.4047 1.99933 21.0367 2.626 21.6617C3.24933 22.2853 3.88267 22.6713 4.623 22.9613C5.33533 23.2413 6.15 23.438 7.33333 23.4913C8.52267 23.5447 8.89733 23.558 12 23.558C15.103 23.558 15.4777 23.5447 16.6667 23.4913C17.85 23.438 18.665 23.2413 19.3773 22.9613C20.1173 22.6713 20.7507 22.2853 21.374 21.6617C21.998 21.0367 22.384 20.4047 22.6733 19.6647C22.954 18.952 23.1507 18.138 23.2033 16.9553C23.2567 15.7667 23.27 15.3907 23.27 12.2867C23.27 9.18267 23.2567 8.80667 23.2033 7.618C23.15 6.43467 22.954 5.618 22.6733 4.90467C22.3867 4.16333 22.0007 3.52667 21.374 2.90333C20.7507 2.27967 20.1173 1.89333 19.3773 1.60467C18.665 1.32533 17.85 1.12867 16.6667 1.07533C15.4767 1.01333 15.103 1 12 1Z',
      'M12 6.60352C8.90139 6.60352 6.38782 9.11709 6.38782 12.2157C6.38782 15.3143 8.90139 17.8279 12 17.8279C15.0986 17.8279 17.6122 15.3143 17.6122 12.2157C17.6122 9.11709 15.0986 6.60352 12 6.60352ZM12 15.8714C9.9881 15.8714 8.34435 14.2276 8.34435 12.2157C8.34435 10.2038 9.9881 8.56005 12 8.56005C14.0119 8.56005 15.6557 10.2038 15.6557 12.2157C15.6557 14.2276 14.0119 15.8714 12 15.8714Z',
      'M19.47 6.37502C19.47 7.12502 18.8613 7.73002 18.117 7.73002C17.367 7.73002 16.7613 7.12002 16.7613 6.37502C16.7613 5.62502 17.3713 5.02002 18.117 5.02002C18.8613 5.02002 19.47 5.63002 19.47 6.37502Z',
    ],
    type: 'fill',
  },
  linkedin: {
    viewBox: '0 0 24 24',
    paths: [
      'M21.7357 1H2.25888C1.32572 1 0.571289 1.73717 0.571289 2.65142V22.0724C0.571289 22.9866 1.32572 23.7274 2.25888 23.7274H21.7357C22.6689 23.7274 23.429 22.9866 23.429 22.0767V2.65142C23.429 1.73717 22.6689 1 21.7357 1ZM7.35245 20.3395H3.95964V9.42551H7.35245V20.3395ZM5.65608 7.92131C4.5667 7.92131 3.68293 7.03754 3.68293 5.95293C3.68293 4.86831 4.5667 3.98454 5.65608 3.98454C6.7407 3.98454 7.62448 4.86831 7.62448 5.95293C7.62448 7.02807 6.7407 7.92131 5.65608 7.92131ZM20.0344 20.3395H16.6463V15.0379C16.6463 13.7547 16.6226 12.1448 14.8972 12.1448C13.1476 12.1448 12.8756 13.5226 12.8756 14.9478V20.3395H9.49254V9.42551H12.7336V10.9166H12.7777C13.2269 10.0518 14.3351 9.14897 15.9823 9.14897C19.4226 9.14897 20.0391 11.4183 20.0391 14.3552V20.3395H20.0344Z',
    ],
    type: 'fill',
  },
  tiktok: {
    viewBox: '0 0 24 24',
    paths: [
      'M16.8317 1H13.008V16.6606C13.008 18.4885 11.5397 19.9661 9.70815 19.9661C7.87664 19.9661 6.40809 18.4885 6.40809 16.6606C6.40809 14.866 7.8429 13.4213 9.61391 13.4116V9.48837C5.63717 9.49807 2.4765 12.6793 2.4765 16.6606C2.4765 20.662 5.70497 23.8885 9.74304 23.8885C13.7811 23.8885 17.0096 20.662 17.0096 16.6606V8.67289C18.4321 9.73013 20.2156 10.361 22.1226 10.3946V6.47128C19.1872 6.3752 16.8317 3.95839 16.8317 1Z',
    ],
    type: 'fill',
  },
  twitter: {
    viewBox: '0 0 24 24',
    paths: [
      'M17.9652 2.67261H21.2174L14.2134 10.702L22.4755 21.6159H16.0097L10.9467 15.0062L5.15751 21.6159H1.90416L9.4419 13.0375L1.52326 2.67261H8.15834L12.7323 8.73419L17.9652 2.67261ZM16.8966 19.6961H18.6769L7.18553 4.49741H5.27517L16.8966 19.6961Z',
    ],
    type: 'fill',
  },
  youtube: {
    viewBox: '0 0 24 24',
    paths: [
      'M23.2 7.72C23.2 7.72 22.9752 6.14667 22.2904 5.44778C21.424 4.537 20.4465 4.53233 19.9998 4.47867C16.8035 4.24333 12.0033 4.24333 12.0033 4.24333H11.9966C11.9966 4.24333 7.19645 4.24333 4.00021 4.47867C3.55354 4.53233 2.57599 4.537 1.7096 5.44778C1.02479 6.14667 0.799962 7.72 0.799962 7.72C0.799962 7.72 0.571289 9.57222 0.571289 11.4244V13.1732C0.571289 15.0255 0.799962 16.8777 0.799962 16.8777C0.799962 16.8777 1.02479 18.451 1.7096 19.1499C2.57599 20.0607 3.71354 20.0299 4.22407 20.1289C6.05645 20.3028 12 20.3799 12 20.3799C12 20.3799 16.8035 20.3707 19.9998 20.1354C20.4465 20.0817 21.424 20.077 22.2904 19.1662C22.9752 18.4673 23.2 16.894 23.2 16.894C23.2 16.894 23.4286 15.0417 23.4286 13.1894V11.4407C23.4286 9.57222 23.2 7.72 23.2 7.72ZM9.6403 15.2456V8.84222L15.8099 12.0625L9.6403 15.2456Z',
    ],
    type: 'fill',
  },
} satisfies Record<string, IconDefinition>

export interface Props {
  name: keyof typeof icons
  size?: string | number
  class?: string
  color?: string
  title?: string
  fill?: boolean
}

const {
  name,
  size = 24,
  class: className,
  color = 'currentColor',
  title,
  fill = false,
} = Astro.props

const sizeStyle = typeof size === 'number' ? `${size}px` : size

const selectedIcon = icons[name]
const iconType = fill ? 'fill' : selectedIcon.type || 'stroke'
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  width={sizeStyle}
  height={sizeStyle}
  viewBox={selectedIcon.viewBox}
  fill={iconType === 'fill' ? color : 'none'}
  stroke={iconType === 'stroke' ? color : 'none'}
  class={cn(
    iconType === 'stroke' ? 'stroke-2' : '',
    className
  )}
  aria-hidden={title ? "false" : "true"}
  role={title ? "img" : "presentation"}
>
  {title && <title>{title}</title>}
  {selectedIcon.paths.map(path => (
    <path
      stroke-linecap={iconType === 'stroke' ? "round" : undefined}
      stroke-linejoin={iconType === 'stroke' ? "round" : undefined}
      d={path}
    />
  ))}
</svg> 